# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://vloajfxwsdbnynccbipl.supabase.com
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsb2FqZnh3c2RibnluY2NiaXBsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODUyMzgwNCwiZXhwIjoyMDk0MDk5ODA0fQ.qGYRYIeC7Hs-Gsmul8moO2DDF7E1skgB7sYc2Wgatro

# Encryption Key (generate a secure random key for production)
NEXT_PUBLIC_ENCRYPTION_KEY=ff7e8ed0bcdd242fbc1bf798644d5b71b4992b8e684e101596144c6e21ea86a9
